@model ApartmentFormModel

@{
    ViewData["Title"] = "Add Apartment";
}
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
<partial name="_ApartmentFormPartial" model="Model"/>



@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}

