@model ApartmentFormModel

@{
    ViewData["Title"] = "Edit Estate";
}
<a asp-controller="Apartment" asp-action="Mine" class="btn btn-primary">Back</a>
<partial name="_ApartmentFormPartial" model="Model"/>



@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}