@model IEnumerable<ApartmentListingViewModel>


@{
    ViewData["Title"] = "My Apartments";
    ViewBag.AllowEdit = true;
}

@if (!Model.Any())
{
    <h2> You DO NOT have any estates yet!</h2>
}
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
<partial name="_apartmentsPartial" model="Model"/>

